/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

/* Header styles */
.Head {
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.List {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 180px;
  padding: 0;
  margin: 0;
}

.List li {
  cursor: pointer;
  padding: 15px;
  transition: all 0.3s ease;
}

.List li:hover {
  color: #007bff;
}

/* Product container styles */
.WholeContainer {
  display: flex;
  justify-content: center;
  padding-top: 90px;
}

article {
  flex: 1;
  padding-left: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.container {
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Product card styles */
.product-card {
  position: relative;
}

.product-card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.product-card img:hover {
  transform: scale(1.05);
}

.description {
  margin-top: 10px;
  font-size: 16px;
}

/* Button styles */
button {
  padding: 10px 20px;
  border: none;
  background-color: dodgerblue;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #007bff;
  transform: scale(1.1);
}

.but {
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  color: black;
  cursor: pointer;
  border-radius: 4px;
  outline: auto green;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.but:hover {
  background-color: green;
  color: white;
  transform: translateY(-3px);
}
